<h1>ABD标准单端面机封</h1>
<form nz-form  #CouplingTypeDataSearchForm="ngForm">
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom" class="test">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="MOVABLE_RING">动环材质</label>
            <input nz-input maxlength="50" [(ngModel)]="otherComponentModelSearchModel.MOVABLE_RING" name="MOVABLE_RING" #MOVABLE_RING="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="STATIC_RING">静环材质</label>
            <input nz-input maxlength="50" [(ngModel)]="otherComponentModelSearchModel.STATIC_RING" name="STATIC_RING" #STATIC_RING="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="SPRING">弹簧材质</label>
            <input nz-input maxlength="50" [(ngModel)]="otherComponentModelSearchModel.SPRING" name="SPRING" #SPRING="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="METAL_BASE">金属基件材质</label>
            <input nz-input maxlength="50" [(ngModel)]="otherComponentModelSearchModel.METAL_BASE" name="METAL_BASE" #METAL_BASE="ngModel">
        </div>
    </div>
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="O_TYPE_RING">O型圈材质</label>
            <input nz-input maxlength="50" [(ngModel)]="otherComponentModelSearchModel.O_TYPE_RING" name="O_TYPE_RING" #O_TYPE_RING="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6"></div>
        <div nz-col class="gutter-row" nzSpan="6"></div>
      <!--导出和导入没有实际功能-->
        <div nz-col class="gutter-row" nzSpan="6"  class="btn_area">
            <button nz-button nzType="primary" type="submit" hidden>导出</button>
            <nz-upload
                [nzShowUploadList]="false"
                nzAction="http://localhost:53366/api/orderListUpload/">
                <button nz-button type="button" nzType="primary" hidden>导入</button>
            </nz-upload>
        </div>
    </div>
    <br>
    <button nz-button nzType="primary" type="button" (click)="getOtherComponentModelWithCondition(otherComponentModelSearchModel)">查询</button>
    <nz-divider nzType="horizontal"></nz-divider>
    <button nz-button nzType="primary" type="button" (click)="showModal()">新建</button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" type="button" (click)="deleteOtherComponentModelTableData()">删除</button>
    <br><br>
    
    <div class="grid_area">
        <nz-table
        #OtherComponentMOdelSelectionTable
        [nzData]="otherComponentModelTableData"
        [nzPageSize]="10"
        [nzHideOnSinglePage]="false"
        (nzCurrentPageDataChange)="orderListCurrentPageDataChange($event)"
        (nzPageIndexChange)="refreshOrderListStatus()"
        (nzPageSizeChange)="refreshOrderListStatus()"
        [nzScroll]="{ x: '1500px' }"
        nzSize="small">
        <thead>
            <tr>
            <th nzShowCheckbox [(nzChecked)]="orderListTableAllChecked" [nzIndeterminate]="orderListTableIndeterminate" (nzCheckedChange)="orderListCheckAll($event)"></th>
            <th nzWidth="50px">序号</th>
            <th nzWidth="300px">动环材质</th>
            <th nzWidth="300px">静环材质</th>
            <th nzWidth="300px">弹簧材质</th>
            <th nzWidth="300px">金属基件材质</th>
            <th nzWidth="300px">O型圈材质</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of OtherComponentMOdelSelectionTable.data; let i=index" >
            <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshOrderListStatus($event)"></td>
            <td (click)="showModal(data)">{{i+1}}</td>
            <td (click)="showModal(data)">{{data.MOVABLE_RING}}</td>
            <td (click)="showModal(data)">{{data.STATIC_RING}}</td>
            <td (click)="showModal(data)">{{data.SPRING}}</td>
            <td (click)="showModal(data)">{{data.METAL_BASE}}</td>
            <td (click)="showModal(data)">{{data.O_TYPE_RING}}</td>
            </tr>
        </tbody>
        </nz-table>
    </div>
</form>

<!-- Model-->
<nz-modal nzWidth="50%" nzWrapClassName="my_modal" [(nzVisible)]="isVisible" nzTitle="ABD标准单端面机封" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="MOVABLE_RING">动环材质</label>
            <input nz-input maxlength="50" [(ngModel)]="currentBumpInfo.MOVABLE_RING" name="MOVABLE_RING" #MOVABLE_RING="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="STATIC_RING">静环材质</label>
            <input nz-input maxlength="50" [(ngModel)]="currentBumpInfo.STATIC_RING" name="STATIC_RING" #STATIC_RING="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="SPRING">弹簧材质</label>
            <input nz-input maxlength="50" [(ngModel)]="currentBumpInfo.SPRING" name="SPRING" #SPRING="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="METAL_BASE">金属基件材质</label>
            <input nz-input maxlength="50" [(ngModel)]="currentBumpInfo.METAL_BASE" name="METAL_BASE" #METAL_BASE="ngModel">
        </div>
    </div>
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="O_TYPE_RING">O型圈材质</label>
            <input nz-input maxlength="50" [(ngModel)]="currentBumpInfo.O_TYPE_RING" name="O_TYPE_RING" #O_TYPE_RING="ngModel">
        </div>
    </div>
</nz-modal>