<h1>订单一览</h1>
<form nz-form (ngSubmit)="onSubmit()" #orderListSearchForm="ngForm">
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom" class="test">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="orderNo">订单编号</label>
            <input nz-input [(ngModel)]="orderListSearchModel.orderNo" name="orderNo" #orderNo="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="contractNo">合同编号</label>
            <input nz-input [(ngModel)]="orderListSearchModel.contractNo" name="contractNo" #contractNo="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="projectNm">项目名称</label>
            <input nz-input [(ngModel)]="orderListSearchModel.projectNm" name="projectNm" #projectNm="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="orderCompany">订货单位</label>
            <input nz-input [(ngModel)]="orderListSearchModel.orderCompany" name="orderCompany" #orderCompany="ngModel">
        </div>
    </div>

    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="departureDateSt">下发日期</label><br>
            <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderListSearchModel.departureDateSt" name="departureDateSt" #departureDateSt="ngModel"></nz-date-picker>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="departureDateEd"></label><br>
            <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderListSearchModel.departureDateEd" name="departureDateEd" #departureDateEd="ngModel"></nz-date-picker>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="deliveryDateSt">交货日期</label><br>
            <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderListSearchModel.deliveryDateSt" name="deliveryDateSt" #deliveryDateSt="ngModel"></nz-date-picker>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="deliveryDateEd"></label><br>
            <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderListSearchModel.deliveryDateEd" name="deliveryDateEd" #deliveryDateEd="ngModel"></nz-date-picker>
        </div>
    </div>

    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="salesPerson">销售员</label>
            <input nz-input [(ngModel)]="orderListSearchModel.salesPerson" name="salesPerson" #salesPerson="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6"></div>
        <div nz-col class="gutter-row" nzSpan="6"></div>
        <div nz-col class="gutter-row" nzSpan="3">
            <button nz-button nzType="primary" type="submit">查询</button>
        </div>
        <div nz-col class="gutter-row" nzSpan="3">
            <button nz-button nzType="primary" type="submit">导出</button>
        </div>
    </div>
    <br>
    <p *ngIf="orderListSearchModel.orderNo">{{ orderListSearchModel | json }}</p>
    <nz-table
      #rowSelectionTable
      [nzData]="orderListTableData"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
      (nzPageIndexChange)="refreshStatus()"
      (nzPageSizeChange)="refreshStatus()"
      nzSize="small">
      <thead>
        <tr>
          <th nzShowCheckbox [(nzChecked)]="orderListTableAllChecked" [nzIndeterminate]="orderListTableIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
          <th>序号</th>
          <th>订单编号</th>
          <th>合同编号</th>
          <th>项目名称</th>
          <th>下发日期</th>
          <th>交货日期</th>
          <th>订货单位</th>
          <th>销售员</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus($event)"></td>
          <td>{{data.no}}</td>
          <td>{{data.orderNo}}</td>
          <td>{{data.contractNo}}</td>
          <td>{{data.projectNm}}</td>
          <td>{{data.departureDate}}</td>
          <td>{{data.deliveryDate}}</td>
          <td>{{data.orderCompany}}</td>
          <td>{{data.salesPerson}}</td>
          <td>{{data.remark}}</td>
        </tr>
      </tbody>
    </nz-table>
    <p *ngIf="orderListTableCheckedData.length > 0">{{ orderListTableCheckedData | json }}</p>
</form>