<div class="logo">
</div>
<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu>
    <span title>
      <i class="anticon anticon-bars"></i>
      <span class="nav-text">订单管理</span>
    </span>
    <ul>
      <li nz-menu-item routerLink="/order-list">
        <i class="anticon anticon-copy"></i>订单一览</li>
    </ul>
  </li>
    <li nz-submenu>
    <span title>
      <i class="anticon anticon-bars"></i>
      <span class="nav-text">数据维护</span>
    </span>
    <ul>
      <li nz-menu-item routerLink="/other-component-model">
        <i class="anticon anticon-link"></i>联轴器型号库</li>
      <li nz-menu-item routerLink="/abd-single-seal-mst">
        <i class="anticon anticon-link"></i>ABD标准单端面机封型号库</li>
      <li nz-menu-item routerLink="/abd-double-seal-mst">
        <i class="anticon anticon-link"></i>ABD标准双端面机封型号库</li>
      <li nz-menu-item routerLink="/abd-integrate-seal-mst">
        <i class="anticon anticon-link"></i>ABD标准集装式机封型号库</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title>
      <i class="anticon anticon-bars"></i>
      <span class="nav-text">查询报表</span>
    </span>
    <ul>
      <li nz-menu-item routerLink="/order-query">
        <i class="anticon anticon-copy"></i>订单查询</li>
    </ul>
  </li>
</ul>