<h1>BOM</h1>
<form nz-form (ngSubmit)="onSubmit()">
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="ORDER_NO">内部订单号</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="orderListDetailTableModel.ORDER_NO" name="ORDER_NO" #ORDER_NO="ngModel" disabled>
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4"><h2>泵基本参数</h2></div>
    <div nz-col class="gutter-row" nzSpan="20"></div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="BUMP_TYPE">泵型号</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="orderListDetailTableModel.BUMP_TYPE" name="BUMP_TYPE" #BUMP_TYPE="ngModel" disabled>
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="BUMP_SERIAL_NO">泵序列号</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="orderListDetailTableModel.BUMP_SERIAL_NO" name="BUMP_SERIAL_NO" #BUMP_SERIAL_NO="ngModel" disabled>
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="NUMBER">数量</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="orderListDetailTableModel.NUMBER" name="NUMBER" #NUMBER="ngModel" disabled>
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="WORKING_PRESSURE">工作压力</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.WORKING_PRESSURE" name="WORKING_PRESSURE" #WORKING_PRESSURE="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="TEST_PRESSURE">装配完毕泵头测试压力</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.TEST_PRESSURE" name="TEST_PRESSURE" #TEST_PRESSURE="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="SUPPRESS_PRESSURE">泵体打压压力</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.SUPPRESS_PRESSURE" name="SUPPRESS_PRESSURE" #SUPPRESS_PRESSURE="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="FLANGE_STANDARD">法兰标准</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.FLANGE_STANDARD" name="FLANGE_STANDARD" #FLANGE_STANDARD="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="FLOW">流量</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="orderListDetailTableModel.FLOW" name="FLOW" #FLOW="ngModel" disabled>
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="LIFT">扬程</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="orderListDetailTableModel.LIFT" name="LIFT" #LIFT="ngModel" disabled>
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="NPSH">装置汽蚀余量</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.NPSH" name="NPSH" #NPSH="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="BUMP_SPEED">泵实际转速</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.BUMP_SPEED" name="BUMP_SPEED" #BUMP_SPEED="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="STATION">工位</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="orderListDetailTableModel.STATION" name="STATION" #STATION="ngModel" disabled>
    </div>
  </div>  
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="MEDIA">介质</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.MEDIA" name="MEDIA" #MEDIA="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="TEMPERATURE">温度</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.TEMPERATURE" name="TEMPERATURE" #TEMPERATURE="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="VISCOSITY">粘度</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.VISCOSITY" name="VISCOSITY" #VISCOSITY="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="INLET_PRESSURE">入口压力</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.INLET_PRESSURE" name="INLET_PRESSURE" #INLET_PRESSURE="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="PARTICULATES">含颗粒情况</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <input nz-input [(ngModel)]="basicAndSealModel.PARTICULATES" name="PARTICULATES" #PARTICULATES="ngModel">
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4"><h2>泵零件</h2></div>
    <div nz-col class="gutter-row" nzSpan="20"></div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4"><h3>标准件</h3></div>
    <div nz-col class="gutter-row" nzSpan="20"></div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="SEAL_TYPE">密封</label>
    </div>
    <div nz-col class="gutter-row" nzSpan="20">
      <nz-select [(ngModel)]="basicAndSealModel.SEAL_TYPE" name="SEAL_TYPE" #SEAL_TYPE="ngModel" nzAllowClear nzPlaceHolder="请选择密封种类...">
        <nz-option nzValue="PACKING" nzLabel="盘根密封"></nz-option>
        <nz-option nzValue="ABD_SINGLE" nzLabel="ABD标准单机械密封"></nz-option>
        <nz-option nzValue="ABD_DOUBLE" nzLabel="ABD标准双机械密封"></nz-option>
        <nz-option nzValue="ABD_INTEGRATE" nzLabel="ABD标准集装式密封"></nz-option>
        <nz-option nzValue="OTHER" nzLabel="其他品牌密封"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4"></div>
    <div nz-col class="gutter-row" nzSpan="20" [ngSwitch]="basicAndSealModel.SEAL_TYPE">
        <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle" *ngSwitchCase="'OTHER'">
          <div nz-col class="gutter-row" nzSpan="24">
            <div nz-col class="gutter-row" nzSpan="3">
              <label for="OTHER_SEAL_PROVIDER">制造商</label>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <input nz-input [(ngModel)]="basicAndSealModel.OTHER_SEAL_PROVIDER" name="OTHER_SEAL_PROVIDER" #OTHER_SEAL_PROVIDER="ngModel">
            </div>
            <div nz-col class="gutter-row" nzSpan="3">
              <label for="SEAL_MODEL">型号</label>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <input nz-input [(ngModel)]="basicAndSealModel.SEAL_MODEL" name="SEAL_MODEL" #SEAL_MODEL="ngModel">
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
                <button nz-button nzType="primary" type="button">从材料配置库中选择</button>
            </div>
          </div>
        </div>
        <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle" *ngSwitchDefault>
          <div nz-col class="gutter-row" nzSpan="4">
            <label for="SEAL_MODEL">型号</label>
          </div>
          <div nz-col class="gutter-row" nzSpan="8">
            <input nz-input [(ngModel)]="basicAndSealModel.SEAL_MODEL" name="SEAL_MODEL" #SEAL_MODEL="ngModel">
          </div>
          <div nz-col class="gutter-row" nzSpan="4">
            <label for="SEAL_MATERIAL">材质</label>
          </div>
          <div nz-col class="gutter-row" nzSpan="8">
            <input nz-input [(ngModel)]="basicAndSealModel.SEAL_MATERIAL" name="SEAL_MATERIAL" #SEAL_MATERIAL="ngModel">
          </div>
        </div>
        <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
          <div nz-col class="gutter-row" nzSpan="4">
            <label for="NEED_SEAL_COOLER_FLG">机封冷却器</label>
          </div>
          <div nz-col class="gutter-row" nzSpan="20">
            <nz-select [(ngModel)]="basicAndSealModel.NEED_SEAL_COOLER_FLG" name="NEED_SEAL_COOLER_FLG" #NEED_SEAL_COOLER_FLG="ngModel" nzAllowClear nzPlaceHolder="请选择冷却器种类...">
              <nz-option nzValue="TRUE" nzLabel="需要"></nz-option>
              <nz-option nzValue="FALSE" nzLabel="不需要"></nz-option>
            </nz-select>
          </div>
      </div>
      <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
        <div nz-col class="gutter-row" nzSpan="4"></div>
        <div nz-col class="gutter-row" nzSpan="20">
          <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
            <div nz-col class="gutter-row" nzSpan="4">
              <label for="SEAL_COOLER_SPEC">冷却器型号</label>
            </div>
            <div nz-col class="gutter-row" nzSpan="20" [ngSwitch]="basicAndSealModel.NEED_SEAL_COOLER_FLG">
              <!-- Add additional '' for the case string.-->
              <div *ngSwitchCase="'TRUE'"><input nz-input [(ngModel)]="basicAndSealModel.SEAL_COOLER_SPEC" name="SEAL_COOLER_SPEC" #SEAL_COOLER_SPEC="ngModel"></div>
              <div *ngSwitchDefault><input nz-input [(ngModel)]="basicAndSealModel.SEAL_COOLER_SPEC" name="SEAL_COOLER_SPEC" #SEAL_COOLER_SPEC="ngModel" disabled></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="30" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col class="gutter-row" nzSpan="4">
      <label for="SEAL_TYPE">轴承</label>
    </div>
 </div>
</form>