<h1>订单查询</h1>
<form nz-form  #CouplingTypeDataSearchForm="ngForm">
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom" class="test">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="SALES_PERSON">销售员</label>
            <input nz-input maxlength="50" [(ngModel)]="orderQuerySearchModel.SALES_PERSON" name="SALES_PERSON" #BUMP_TYPE="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="ORDER_UNIT">订货单位</label>
            <input nz-input maxlength="50" [(ngModel)]="orderQuerySearchModel.ORDER_UNIT" name="ORDER_UNIT" #BASE_TYPE="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="PROJECT_NM">项目名称</label>
            <input nz-input maxlength="50" [(ngModel)]="orderQuerySearchModel.PROJECT_NM" name="PROJECT_NM" #COUPLING_HOOD_TYPE="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="ORDER_NO">内部单号</label>
            <input nz-input maxlength="50" [(ngModel)]="orderQuerySearchModel.ORDER_NO" name="ORDER_NO" #ORDER_UNIT="ngModel">
        </div>
    </div>
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="DEPARTURE_DATE_ST">下发日期</label><br>
            <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderQuerySearchModel.DEPARTURE_DATE_ST" name="DEPARTURE_DATE_ST" #DEPARTURE_DATE_ST="ngModel"></nz-date-picker>
        </div>

        <div nz-col class="gutter-row" nzSpan="6">
            <label for="DEPARTURE_DATE_ED"></label><br>
            <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderQuerySearchModel.DEPARTURE_DATE_ED" name="DEPARTURE_DATE_ED" #DEPARTURE_DATE_ED="ngModel"></nz-date-picker>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="DELIVERY_DATE_ST">交货日期</label><br>
            <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderQuerySearchModel.DELIVERY_DATE_ST" name="DELIVERY_DATE_ST" #DELIVERY_DATE_ST="ngModel"></nz-date-picker>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="DELIVERY_DATE_ED"></label><br>
            <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderQuerySearchModel.DELIVERY_DATE_ED" name="DELIVERY_DATE_ED" #DELIVERY_DATE_ED="ngModel"></nz-date-picker>
        </div>
    </div>
    <br>
    <button nz-button nzType="primary" type="button" (click)="getOrderQueryWithCondition(orderQuerySearchModel)">查询</button>
    <br><br>
    
     <div class="grid_area">
        <nz-table
        #orderQuerySelectionTable
        [nzData]="orderQueryTableData"
        [nzPageSize]="10"
        [nzHideOnSinglePage]="false"
        (nzCurrentPageDataChange)="orderListCurrentPageDataChange($event)"
        (nzPageIndexChange)="refreshOrderListStatus()"
        (nzPageSizeChange)="refreshOrderListStatus()"
        [nzScroll]="{ x: '2000px' }"
        nzSize="small">
        <thead>
            <tr>
           <th nzWidth="50px">序号</th>
            <th nzWidth="100px">销售员</th>
            <th nzWidth="100px">订货单位</th>
            <th nzWidth="100px">项目名称</th>
            <th nzWidth="100px">下发日期</th>
            <th nzWidth="100px">交货日期</th>
            <th nzWidth="100px">内部单号</th>
            <th nzWidth="100px">数量</th>
            <th nzWidth="100px">合同总价</th>
            <th nzWidth="100px">折扣</th>
            <th nzWidth="100px">发货数量</th>
            <th nzWidth="100px">开票金额</th>
            <th nzWidth="100px">到货金额</th>
            <th nzWidth="100px">余款金额</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of orderQuerySelectionTable.data; let i=index" >
            <td>{{i+1}}</td>
            <td>{{data.SALES_PERSON}}</td>
            <td>{{data.ORDER_UNIT}}</td>
            <td>{{data.PROJECT_NM}}</td>
            <td>{{data.DEPARTURE_DATE | date:'yyyy/MM/dd'}}</td>
            <td>{{data.DELIVERY_DATE | date:'yyyy/MM/dd'}}</td>
            <td style="color: blue; text-decoration:underline; cursor: pointer" >
                <tr routerLink="/other-component-model">
                    {{data.ORDER_NO}}
                </tr>                
            </td>
            <td>{{data.QTY}}</td>
            <td>{{data.TOTAL_AMT}}</td>
            <td>{{data.DISCOUNT}}</td>
            <td>{{data.DELIVERY_QTY}}</td>
            <td>{{data.DOC_AMT}}</td>
            <td>{{data.ARRIVAL_AMT}}</td>
            <td>{{data.REMAIN_AMT}}</td>
            </tr>
        </tbody>
        </nz-table>
    </div>
</form>