<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'md'">
    <app-sider></app-sider>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; height: 48px;">
        <app-header></app-header>
    </nz-header>
    <nz-content style="margin:24px 16px 0;height: 100%;">
      <div style="padding:24px; background: #fff; height: 100%;">
        Content
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">艾比得泵业 ©2018 Implemented By leeyard.com</nz-footer>
  </nz-layout>
</nz-layout>