<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'md'">
    <app-sider></app-sider>
  </nz-sider>
  <nz-layout>
    <nz-header class="abd-header">
        <app-header></app-header>
    </nz-header>
    <nz-content class="abd-content">
      <div class="abd-content-inner">
          <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="abd-footer">艾比德泵业 ©2018 Implemented By leeyard.com</nz-footer>
  </nz-layout>
</nz-layout>