<h1>订单详情</h1>
<div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
    <div nz-col class="gutter-row" nzSpan="8">
        <label for="ORDER_NO">订单编号</label>
        <input nz-input [(ngModel)]="orderListDetailFormModel.ORDER_NO" name="ORDER_NO" #ORDER_NO="ngModel">
    </div>
    <div nz-col class="gutter-row" nzSpan="8">
        <label for="CONTRACT_NO">合同编号</label>
        <input nz-input [(ngModel)]="orderListDetailFormModel.CONTRACT_NO" name="CONTRACT_NO" #CONTRACT_NO="ngModel">
    </div>
    <div nz-col class="gutter-row" nzSpan="8">
        <label for="PROJECT_NM">项目名称</label>
        <input nz-input [(ngModel)]="orderListDetailFormModel.PROJECT_NM" name="PROJECT_NM" #PROJECT_NM="ngModel">
    </div>
</div>
<div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
    <div nz-col class="gutter-row" nzSpan="8">
        <label for="ORDER_UNIT">订货单位</label>
        <input nz-input [(ngModel)]="orderListDetailFormModel.ORDER_UNIT" name="ORDER_UNIT" #ORDER_UNIT="ngModel">
    </div>
    <div nz-col class="gutter-row" nzSpan="8">
        <label for="DEPARTURE_DATE">下发日期</label><br>
        <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderListDetailFormModel.DEPARTURE_DATE" name="DEPARTURE_DATE" #DEPARTURE_DATE="ngModel"></nz-date-picker>
    </div>
    <div nz-col class="gutter-row" nzSpan="8">
        <label for="DELIVERY_DATE">交货日期</label><br>
        <nz-date-picker style='width: 100%;' [nzFormat]="yyyy/MM/dd" [(ngModel)]="orderListDetailFormModel.DELIVERY_DATE" name="DELIVERY_DATE" #DELIVERY_DATE="ngModel"></nz-date-picker>
    </div>
</div>

<div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
    <div nz-col class="gutter-row" nzSpan="8">
        <label for="APPLICATION_ENGINEER">应用工程师</label>
        <input nz-input [(ngModel)]="orderListDetailFormModel.APPLICATION_ENGINEER" name="APPLICATION_ENGINEER" #APPLICATION_ENGINEER="ngModel">
    </div>
    <div nz-col class="gutter-row" nzSpan="8">
        <label for="SALES_PERSON">销售员</label>
        <input nz-input [(ngModel)]="orderListDetailFormModel.SALES_PERSON" name="SALES_PERSON" #SALES_PERSON="ngModel">
    </div>
    <div nz-col class="gutter-row" nzSpan="8">
        <label for="REMARK">备注</label>
        <input nz-input [(ngModel)]="orderListDetailFormModel.REMARK" name="REMARK" #REMARK="ngModel">
    </div>
</div>
<br>
<nz-divider nzType="horizontal"></nz-divider>
<button nz-button nzType="primary" (click)="showModal()">新建</button>
<nz-divider nzType="vertical"></nz-divider>
<button nz-button nzType="primary" type="button" (click)="deleteOrderListDetailTableData()">批量删除</button>
<br>
<br>
<div class="grid_area">
    <nz-table
    #orderDetailListSelectionTable
    [nzData]="orderListDetailTableData"
    [nzPageSize]="5"
    [nzHideOnSinglePage]="false"
    (nzCurrentPageDataChange)="orderDetailListCurrentPageDataChange($event)"
    (nzPageIndexChange)="refreshOrderDetailListStatus()"
    (nzPageSizeChange)="refreshOrderDetailListStatus()"
    nzSize="small">
    <thead>
        <tr>
        <th nzShowCheckbox [(nzChecked)]="orderListDetailTableAllChecked" [nzIndeterminate]="orderListDetailTableIndeterminate" (nzCheckedChange)="orderDetailListCheckAll($event)"></th>
        <th>序号</th>
        <th>泵名称</th>
        <th>工位</th>
        <th>型号</th>
        <th>数量</th>
        <th>流量</th>
        <th>扬程</th>
        <th>材质</th>
        <th>机封</th>
        <th>序列号</th>
        <th>状态</th>
        <th>备注</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of orderDetailListSelectionTable.data; let i=index">
        <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshOrderDetailListStatus($event)"></td>
        <td (click)="showModal(data)">{{i+1}}</td>
        <td (click)="showModal(data)">{{data.BUMP_NM}}</td>
        <td (click)="showModal(data)">{{data.STATION}}</td>
        <td (click)="showModal(data)">{{data.BUMP_TYPE}}</td>
        <td (click)="showModal(data)">{{data.NUMBER}}</td>
        <td (click)="showModal(data)">{{data.FLOW}}</td>
        <td (click)="showModal(data)">{{data.LIFT}}</td>
        <td (click)="showModal(data)">{{data.MATERIAL}}</td>
        <td (click)="showModal(data)">{{data.SEAL}}</td>
        <td (click)="showModal(data)">{{data.BUMP_ID}}</td>
        <td (click)="showModal(data)">{{data.STATUS}}</td>
        <td (click)="showModal(data)">{{data.REMARK}}</td>
        </tr>
    </tbody>
    </nz-table>
    <br>
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="end" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="24" class="btn_area">
            <button nz-button nzType="primary" type="button" (click)="saveOrderListDetailForm(orderListDetailFormModel)">保存</button>
        </div>
    </div>
</div>
<br>
<!-- Model-->
<nz-modal nzWidth="750" nzWrapClassName="my_modal" [(nzVisible)]="isVisible" nzTitle="泵信息编辑" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="BUMP_NM">泵名称</label>
            <input nz-input [(ngModel)]="currentBumpInfo.BUMP_NM" name="BUMP_NM" #BUMP_NM="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="STATION">工位</label>
            <input nz-input [(ngModel)]="currentBumpInfo.STATION" name="STATION" #STATION="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="BUMP_TYPE">型号</label>
            <input nz-input [(ngModel)]="currentBumpInfo.BUMP_TYPE" name="BUMP_TYPE" #BUMP_TYPE="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="NUMBER">数量</label>
            <input nz-input [(ngModel)]="currentBumpInfo.NUMBER" name="NUMBER" #NUMBER="ngModel">
        </div>
    </div>
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="FLOW">流量</label>
            <input nz-input [(ngModel)]="currentBumpInfo.FLOW" name="FLOW" #FLOW="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="LIFT">扬程</label>
            <input nz-input [(ngModel)]="currentBumpInfo.LIFT" name="LIFT" #LIFT="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="MATERIAL">材质</label>
            <input nz-input [(ngModel)]="currentBumpInfo.MATERIAL" name="MATERIAL" #MATERIAL="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="SEAL">机封</label>
            <input nz-input [(ngModel)]="currentBumpInfo.SEAL" name="SEAL" #SEAL="ngModel">
        </div>
    </div>
    <div nz-row [nzGutter]="16" nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="BUMP_ID">序列号</label>
            <input nz-input [(ngModel)]="currentBumpInfo.BUMP_ID" name="BUMP_ID" #BUMP_ID="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <label for="STATUS">状态</label>
            <input nz-input [(ngModel)]="currentBumpInfo.STATUS" name="STATUS" #STATUS="ngModel">
        </div>
        <div nz-col class="gutter-row" nzSpan="12">
            <label for="REMARK">备注</label>
            <input nz-input [(ngModel)]="currentBumpInfo.REMARK" name="REMARK" #REMARK="ngModel">
        </div>
    </div>
</nz-modal>